---
import "../styles/global.css";
const pageTitle = "History Page";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="text-center">
    <h2>Who i am?</h2>
  </div>
  <p>
    I’m Esteban, an experienced website developer with expertise in Content
    Management Systems (CMS) like WordPress and Joomla. I specialize in creating
    dynamic, user-friendly websites tailored to meet diverse client needs. My
    skills include eCommerce integration, website optimization, and seamless
    third-party tool implementation. Dedicated to delivering high-quality web
    solutions, I ensure every project provides exceptional performance and a
    superior user experience.
  </p>
</BaseLayout>
