---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <p>My name is Alfonso</p>
</BaseLayout>

<baseLayout>
  <p>NUmber 2</p>
</baseLayout>
