---

---

<div class="grid grid-cols-7 justify-items-stretch gap-3 text-center">
  <div class="bg-black">01</div>
  <div class="bg-black">02</div>
  <div class="bg-black">03</div>
  <div class="bg-black">04</div>
  <div class="bg-black">05</div>
  <div class="bg-black">06</div>
  <div class="bg-black">07</div>
</div>
<div class="grid grid-cols-1 gap-2 p-4">
  <blockquote class="bg-black text-center">This is a quote</blockquote>
</div>

<div class="grid grid-cols-1 gap-2 p-4">
  <title class="bg-black">This is a title</title>
</div>
