---
const { platform, username } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
  a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #4c1d95;
    text-decoration: none;
    border-radius: 10cm;

    }

    a:hover {
      background-color: white;
      color: #4c1d95;
      transition:  200ms ease-in-out ;
    }
</style>
